[program:EuLevo]
command = /path/to/bin/gunicorn_start                    ; Command to start app
user = user                                                                       ; User to run as
stdout_logfile = /path/to/logs/gunicorn_supervisor.log   ; Where to write log messages
redirect_stderr = true                                                              ; Save stderr in the same log
environment=LANG=pt_BR.UTF-8,LC_ALL=pt_BR.UTF-8                                     ; Set UTF-8 as default encoding
stdout_logfile_maxbytes=100MB